* {
    font-family: 'Space Mono', monospace;
    color: silver;
    background-color: #132538;
}

.grid-container {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
}

.grid-item {
    text-align: center;
    height: 33vh;
    width: 33vw;
}

#spaceship {
    height: 250px;
    width: 200px;
    border-radius: 100px;
    z-index: 500;
}

#asteroid {
    height: 150px;
    width: 150px;
    position: fixed;
    border-radius: 0 200px 200px 200px;
    top: -150px;
    left: -150px;
    background-color: rgba(255, 0, 0, .5);
    box-shadow: 5px 5px 5px 0 rgba(252, 217, 77, 0.75), 0 5px 5px 0 rgba(252, 217, 77, 0.75);
}

a {
    display: none;
}